.bg {
  /* The image used */
  background-image: url("../../assets/images/background_ubuntu.png");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-width: 25vw;
  min-height: 37vh;
  margin-left: 15%;
  background-color: transparent;
  border: 1px solid #425f9b;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #425f9b;
  color: white;
  min-width: 50px;
  text-align: center;
}
.warningIcon {
  padding: 10px;
  background: #cc3300;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #425f9b;
}

/* Set a style for the submit button */
.loginBtn {
  background-color: #425f9b;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin: 1%;
}
.signUpBtn {
  background-color: #5e974a;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin: 1%;
}

.cancel {
  background-color: #c2462e;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin: 1%;
}
.btn:hover {
  opacity: 1;
}

h4 {
  color: white;
}

.btnDiv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.selectBox {
  height: 6vh;
  width: 100%;
  background: #425f9b;
  color: white;
  border: none;
  margin-bottom: 15px;
}

.selectBox::placeholder{
  text-align: center;
}
