.header {
  overflow: hidden;
  background-color: #fafbfc;
  padding: 10px 10px;
  box-sizing: border-box;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.header img {
  float: none;
  /* display: flex; */
  text-align: left;
  width: 15vw;
  margin-left: 2%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
  margin-top: 0%;
}

@media screen and (max-width: 500px) {
  .header img {
    float: none;
    /* display: flex; */
    text-align: left;
    width: 40%;
  }
  .header {
    float: none;
    display: flex;
    text-align: right;
    width: 100%;
  }

  .header-right {
    float: none;
    margin-left: 36%;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #989aa2;
  color: black;
  text-align: left;
}

.menu {
  padding: 10px 10px;
  overflow: hidden;
  background-color: #989aa2;
  box-sizing: border-box;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 2%;
}
span {
  margin-left: 2%;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: 3vh;
}


