.header {
    overflow: hidden;
    background-color: #fafbfc;
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  }
  
  .header img {
    float: none;
    /* display: flex; */
    text-align: left;
    width: 15vw;
    margin-left: 2%;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header-right {
    float: right;
    margin-top: 0%;
  }
  
  @media screen and (max-width: 500px) {
    .header img {
      float: none;
      /* display: flex; */
      text-align: left;
      width: 40%;
    }
    .header {
      float: none;
      display: flex;
      text-align: right;
      width: 100%;
    }
  
    .header-right {
      float: none;
      margin-left: 36%;
    }
  }
  